.btn {
  margin: 5px;
}

.btn-warning {
  background-color: #f09f44;
  border-color: #f09f44;
}

.btn-danger {
  background-color: #19011f;
  border-color: #19011f;
}

.btn-secondary {
  background-color: #601172;
  border-color: #601172;
}
